$word-height: 3rem;
$word-color: #131212;
$word-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #ffffff;
}

.button {
  padding: 1rem 2rem;
  font-size: 1.5rem;
  border-radius: 5rem;
  background-color: #000000;
  color: #ffffff;
  border: none;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
  margin-bottom: 2rem;
  transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;

  &:hover {
    background-color: #5c2929;
    transform: scale(1.05);
    cursor: pointer;
  }
}

.word-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.animated-word {
  position: absolute;
  font-size: 2rem;
  font-weight: bold;
  text-shadow: $word-shadow;
  color: $word-color;
  white-space: nowrap;
}

@media screen and (max-width: 768px) {
  $word-height: 2rem;
  .animated-word {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 576px) {
  $word-height: 1.5rem;
  .animated-word {
    font-size: 1rem;
  }
}
